<div class="jumbotron">
  <h1>Download</h1>
</div>
<h3>
  A link should appear below when your file finishes slicing
</h3>
<script>
var timerForLoadingResult=  setInterval(checkServerForFile,1000);//call the fnction in every 1 seconds.write ajax in that function.

function checkServerForFile() {
  $.ajax({
    type: "POST",
    cache: false,
    url: "/getFile/<%=@download_filename%>",
    success: function (result) {
      $("#download_link").show();
      alert("file is done compiling!");
      clearInterval(timerForLoadingResult);        // clear timer
    }
  });
}

window.onload = function() {
  checkServerForFile();
  $("#download_link").hide();
};
</script>

<h3>Download your file here: <a id="download_link" href="/<%=@download_filename%>" download> Download </a></h3>




